<app-table-filter (onChange)="applyFilter($event)" [settings]="this.settings"
                  placeholder="Filter Email-Vorlage"></app-table-filter>
<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id" hidden>
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="subject">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Betreff</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.subject}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="content">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Inhalt</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.content}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table-row--highligthed" routerLink={{row.id}}
           *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
