<mat-card class="mat-card-padding card--background ">
  <mat-card-title>Bestellungsdetails</mat-card-title>
  <mat-card class="common_table">
    <div class="bold">
      <div>Beschreibung</div>
      <div>Menge</div>
      <div>Preis</div>
    </div>
    <div *ngFor="let cartEntry of cartEntries">
      <div>{{cartEntry.article.description}}</div>
      <div>{{cartEntry.count}} {{cartEntry.article.unitOfMeasurement.shortcut}}</div>
      <div>{{cartEntry.price * cartEntry.count | currency: 'CHF '}}</div>
    </div>
    <div class="bold">
      <div>Total</div>
      <div></div>
      <div>{{total | currency: 'CHF '}}</div>
    </div>
  </mat-card>
</mat-card>
