<form #f="ngForm" (ngSubmit)="submit()">
  <app-table-header titleText="Masseinheit bearbeiten" [showBack]="true" [showCancelAndSave]="true"
                    [form]="f"></app-table-header>
  <mat-card class="mat-card-padding">
    <div class="row_20_80">
      <mat-form-field class="full-width" color="accent">
        <input matInput placeholder="Abkürzung" #shortcut [(ngModel)]="unitOfMeasurement.shortcut"
               maxlength="256" name="shortcut">
        <mat-hint align="end">{{shortcut.value.length}}</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width" color="accent">
        <input matInput placeholder="Beschreibung" #description [(ngModel)]="unitOfMeasurement.description"
               maxlength="256" name="description">
        <mat-hint align="end">{{description.value.length}}</mat-hint>
      </mat-form-field>
    </div>
  </mat-card>
</form>
