<form [formGroup]="passwordChangeForm" #f="ngForm" (ngSubmit)="submit()">
  <app-table-header titleText="Passwort ändern" showBack="true" showCancelAndSave="true"
                    [form]="f"></app-table-header>
  <div class="main-container">
    <mat-card class="mat-card-padding">
      <mat-form-field class="full-width bottom-padding" color="accent">
        <input matInput placeholder="Passwort" maxlength="256" [formControl]="password" value="" required
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
          {{getErrorMessage(password)}}
        </mat-error>
        <mat-hint align="end">{{password.value.length}}</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width bottom-padding" color="accent">
        <input matInput placeholder="Passwort wiederholen" maxlength="256" [formControl]="confirmPassword"
               value=""
               required
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error
          *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          {{getErrorMessage(confirmPassword)}}
        </mat-error>
        <mat-hint align="end">{{confirmPassword.value.length}}</mat-hint>
      </mat-form-field>
      <mat-error
        *ngIf="passwordChangeForm.invalid && confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)
          && password.valid && (password.dirty || password.touched)">
        {{getErrorMessage(passwordChangeForm)}}
      </mat-error>
    </mat-card>
  </div>
</form>
