<form #f="ngForm" (ngSubmit)="submit()">
  <app-table-header titleText="Artikel bearbeiten" showBack="true" showCancelAndSave="true"
                    [form]="f"></app-table-header>
  <mat-card class="mat-card-padding">
    <mat-form-field class="full-width" color="accent">
      <input matInput placeholder="Artikelnummer" #number [(ngModel)]="article.number"
             maxlength="256" name="number">
      <mat-hint align="end">{{number.value.length}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width" color="accent">
      <input matInput placeholder="Beschreibung" #description [(ngModel)]="article.description"
             maxlength="256" name="description">
      <mat-hint align="end">{{description.value.length}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width" color="accent">
      <input matInput placeholder="Preis" #price [(ngModel)]="article.price"
             maxlength="256" name="price">
      <mat-hint align="end">{{price.value.length}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width" color="accent">
      <input matInput placeholder="Lagerbestand" #stock [(ngModel)]="article.stock"
             maxlength="256" name="stock">
      <mat-hint align="end">{{stock.value.length}}</mat-hint>
    </mat-form-field>
    <app-status-edit [(status)]="article.status" class="flex-display"></app-status-edit>
    <mat-form-field class="full-width" color="accent">
      <mat-select placeholder="Masseinheit" #unitOfMeasurement name="unitOfMeasurement"
                  [(ngModel)]="article.unitOfMeasurement">
        <mat-option *ngFor="let unitOfMeasurement of unitSubject | async" [value]="unitOfMeasurement">
          {{ unitOfMeasurement.shortcut }} ({{unitOfMeasurement.description}})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</form>
