<div class="main-container">
  <div class="full-width"></div>
  <mat-card class="mat-card-padding">
    <mat-card-title class="bottom-margin">Benutzerregistrierung</mat-card-title>
    <form #f="ngForm" (ngSubmit)="setPassword(f.value.password)" *ngIf="!message" class="form" novalidate>
      <div><p>Mit dem Festlegen vom Passwort wird die Registrierung abgeschlossen. Anschliessend kann das
        Benutzerkonto verwendet werden.</p>
      </div>
      <section class="section">
        <mat-form-field class="full-width">
          <input #passwordControl="ngModel" [digitCharacter]="1" [lowercaseCharacter]="1" [ngModel]="password"
                 [uppercaseCharacter]="1"
                 matInput minlength="8" name="password" password placeholder="neues Passwort"
                 required reverse="true" type="password" validateEqual=confirmPassword>
          <mat-hint *ngIf="!passwordControl.valid" [ngStyle]="{'color': 'red'}" align="start">Klein & Gross & Zahl,
            mind.
            8 Zeichen
            Zeichen
          </mat-hint>
        </mat-form-field>
      </section>
      <section class="section">
        <mat-form-field class="full-width">
          <input #confirmPasswordControl="ngModel" [ngModel]="confirmPassword" matInput name="confirmPassword"
                 placeholder="Passwort wiederholen" required type="password" validateEqual=password>
          <mat-hint *ngIf="!confirmPasswordControl.valid" [ngStyle]="{'color': 'red'}" align="start">Passwörter sind
            nicht
            identisch
          </mat-hint>
        </mat-form-field>
      </section>
      <div class="button-row">
        <span class="fill-remaining-space"></span>
        <button [disabled]="!f.valid" class="grayButton" mat-button type="submit">Passwort setzen</button>
      </div>
    </form>
    <div *ngIf="message">
      <p class="message">{{message}}</p>
      <p>Weiter zum <a [routerLink]="['/login']">Login</a></p>
    </div>
  </mat-card>
  <div class="full-width"></div>
  <app-my-spinner [delay]="150" [isRunning]="busy"></app-my-spinner>
</div>
