<div class="main-container">
  <mat-card *ngFor="let articleWrapper of articlesWrappers" class="card-dimensions">
    <mat-card-title>{{articleWrapper.article.description}}</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="content-format">
      <img src="/assets/images/citrus.png" class="article-image">
      <div class="price-row">
        <span class="price-format">{{articleWrapper.article.price | currency: "CHF "}}</span>
        <span class="unit-format">pro {{articleWrapper.article.unitOfMeasurement.shortcut}}</span>
      </div>
      <div class="common_table">
        <div *ngFor="let stockWrapper of articleWrapper.articleStockWrappers">
          <div>
            <b>{{stockWrapper.articleStock.location.description}}</b> <br/>
            {{stockWrapper.articleStock.quantity - stockWrapper.articleStock.reservedQuantity -
            stockWrapper.cartItem?.quantity}}
            {{articleWrapper.article.unitOfMeasurement.shortcut}}
          </div>
          <div>
            <button mat-button type="submit" class="button--responsive cart-color-green"
                    (click)="addToCart(stockWrapper)">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
