.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.step1-cards {
  display: flex;
}
.step1-cards--background {
  background-color: #eeeeee;
  flex: 1 1 auto;
}
