.span__gray {
  background: #DDDDDD;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.2em;
  flex: 1 1 auto;
  min-width: 180px;
}

button.button--responsive {
  min-width: 10px;
  margin: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
