<app-table-header titleText="Einbuchung details" label="diese Einbuchung" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<mat-card class="mat-card-padding">
  <mat-card-content class="common_table">
    <div>
      <div>Lagerbestand</div>
      <div>{{articleCheckIn.articleStock.article.number}} {{articleCheckIn.articleStock.article.description}}<br/>
        {{articleCheckIn.articleStock.location.description}}
      </div>
    </div>
    <div>
      <div>Datum geplant</div>
      <div>{{articleCheckIn.plannedDate | date: "dd.MM.yyyy"}}</div>
    </div>
    <div>
      <div>Menge</div>
      <div>{{articleCheckIn.quantity}} {{articleCheckIn.articleStock.article.unitOfMeasurement.shortcut}}</div>
    </div>
    <div>
      <div>Erledigt</div>
      <div>{{articleCheckIn.done && "Ja" || "Nein"}} ({{articleCheckIn.doneUser.prename}} {{articleCheckIn.doneUser.name}})</div>
    </div>
    <div>
      <div>Kommentar</div>
      <div>{{articleCheckIn.comment}}</div>
    </div>
  </mat-card-content>
</mat-card>
