<form #f="ngForm" (ngSubmit)="submit()">
  <app-table-header titleText="Role bearbeiten" showBack="true" showCancelAndSave="true"
                    [form]="f"></app-table-header>
  <mat-card class="mat-card-padding">
    <div>
      <mat-form-field class="full-width" color="accent">
        <input matInput placeholder="Name" #name [(ngModel)]="role.name"
               maxlength="256" name="name">
        <mat-hint align="end">{{name.value.length}}</mat-hint>
      </mat-form-field>
    </div>
  </mat-card>
</form>

