<button mat-raised-button class="button--responsive" (click)="edit(id)" [disabled]="disableEdit"
        *ngIf="!hideEdit">
  <mat-icon>edit</mat-icon>
  <span class="size-xl">ändern</span></button>
<button mat-raised-button class="button--responsive" (click)="details(id)" [disabled]="disableDetails"
        *ngIf="!hideDetails">
  <mat-icon>details</mat-icon>
  <span class="size-xl">Details</span></button>
<button mat-raised-button class="button--responsive" (click)="del(id)" [disabled]="disableDelete"
        *ngIf="!hideDelete">
  <mat-icon>delete</mat-icon>
  <span class="size-xl">löschen</span></button>
<span class="span__gray">{{desc}}</span>
