<app-table-header titleText="Lagerbestand details" label="dieser Lagerbestand" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<mat-card class="mat-card-padding">
  <mat-card-content class="common_table">
    <div>
      <div>Artikelnummer</div>
      <div>{{articleStock.article.number}}</div>
    </div>
    <div>
      <div>Beschreibung</div>
      <div>{{articleStock.article.description}}</div>
    </div>
    <div>
      <div>Standort</div>
      <div>{{articleStock.location.description}}</div>
    </div>
    <div>
      <div>Menge an Lager</div>
      <div>{{articleStock.quantity}} {{articleStock.article.unitOfMeasurement.shortcut}}</div>
    </div>
    <div>
      <div>Menge reserviert</div>
      <div>{{articleStock.reservedQuantity}} {{articleStock.article.unitOfMeasurement.shortcut}}</div>
    </div>
  </mat-card-content>
</mat-card>
