<div class="header--flex div--no-margins">
  <button mat-button type="button" class="size-xs button--responsive" (click)="back()" *ngIf="showBack">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h3 class="h3--no-margins toolbar--title">{{titleText}}</h3>
  <span class="fill-remaining-space"></span>
  <button mat-button type="submit" class="button--responsive" (click)="create()" *ngIf="showCreate">
    <mat-icon>add</mat-icon>
    <span class="size-xl">erstellen</span>
  </button>
  <button mat-button class="button--responsive" (click)="edit()" *ngIf="showEdit">
    <mat-icon>mode_edit</mat-icon>
    <span class="size-xl">bearbeiten</span>
  </button>
  <button mat-button class="button--responsive" (click)="passwordChange()" *ngIf="showPasswordChange">
    <mat-icon>security</mat-icon>
    <span class="size-xl">Passwort ändern</span>
  </button>
  <button mat-button class="button--responsive" (click)="delete()" *ngIf="showDelete">
    <mat-icon>delete</mat-icon>
    <span class="size-xl">löschen</span>
  </button>
  <button mat-button type="button" class="size-xs button--responsive" (click)="back()" *ngIf="showCancelAndSave">
    <mat-icon>cancel</mat-icon>
    <span class="size-xl">abbrechen</span>
  </button>
  <button mat-button type="submit" class="size-xs button--responsive" *ngIf="showCancelAndSave" [disabled]="!form.valid">
    <mat-icon>save</mat-icon>
    <span class="size-xl">speichern</span>
    <!-- [disabled]="!f.valid" -->
  </button>
</div>
