@use '~@angular/material' as mat;
@mixin app-table-header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-table-header {
    >div {
      background-color: mat.get-color-from-palette($accent);
    }
  }
}
