<app-table-header titleText="Benutzer" [showCreate]="true"></app-table-header>
<app-table-filter (onChange)="applyFilter($event)" [settings]="this.settings"
                  placeholder="Filter Benutzer"></app-table-filter>
<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id" hidden>
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Kundennummer</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.number}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="prename">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.prename}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.phone}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="mobile">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.mobile}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table-row--highligthed" routerLink={{row.id}}
           *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<app-progess-spinner [loading]="loading" delayInMs="150" minShowInMs="500"></app-progess-spinner>

