<mat-table #table [dataSource]="datasource" matSort>
  <ng-container matColumnDef="article">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Artikel</mat-header-cell>
    <mat-cell *matCellDef="let row" class="column-container cart-article-column">
      <span class="cart-article-font">{{row.article.description}}</span>
      <div class="container cart-data-font">
        <span>{{row.count}} {{row.article.unitOfMeasurement.shortcut}}</span>
        <span class="fill-remaining-space"></span>
        <span class="highlighted-font">{{row.price * row.count | currency: 'CHF '}}</span>
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="cart">
    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *matCellDef="let row" class="center-buttons">
      <button mat-button type="submit" class="button--responsive cart-color-green" (click)="decrease(row)">
        <mat-icon>remove_circle</mat-icon>
      </button>
      <button mat-button type="submit" class="button--responsive cart-color-green" (click)="increase(row)">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-button type="submit" class="button--responsive cart-color-red" (click)="remove(row)">
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-row class="table-row--highligthed" *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


