<app-table-filter (onChange)="applyFilter($event)" [settings]="this.settings"
                  placeholder="Filter Masseinheiten"></app-table-filter>
<mat-table #table [dataSource]="datasource" matSort>
  <ng-container matColumnDef="id" hidden>
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table-row--highligthed" routerLink={{row.id}}
           *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
