@use '~@angular/material' as mat;
@mixin app-role-table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-role-table {
    .table-row--highligthed:hover {
      background-color: mat.get-color-from-palette($primary);
      transition: all 0.3s ease-in
    }
  }
}

