<form #f="ngForm" (ngSubmit)="submit()">
  <app-table-header titleText="Einbuchung bearbeiten" showBack="true" showCancelAndSave="true"
                    [form]="f"></app-table-header>
  <mat-card class="mat-card-padding">
    <mat-form-field class="full-width" color="accent">
      <mat-select placeholder="Lagerbestand" #articleStock name="articleStock"
                  [(ngModel)]="articleCheckIn.articleStock">
        <mat-option *ngFor="let articleStock of articleStockSubject | async" [value]="articleStock">
          {{articleStock.article.number}} {{articleStock.article.description}}, {{articleStock.location.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" color="accent">
      <mat-select placeholder="Benutzer" #user name="user" [(ngModel)]="articleCheckIn.user">
        <mat-option *ngFor="let user of userSubject | async" [value]="user">
          {{ user.name }} {{ user.prename}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" color="accent">
      <input matInput placeholder="Menge in {{articleCheckIn.articleStock.article.unitOfMeasurement.shortcut}}" #quantity [(ngModel)]="articleCheckIn.quantity"
             maxlength="256" name="quantity">
      <mat-hint align="end">{{quantity.value.length}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width" color="accent">
      <input matInput placeholder="Kommentar" #comment [(ngModel)]="articleCheckIn.comment"
             maxlength="256" name="comment">
      <mat-hint align="end">{{comment.value.length}}</mat-hint>
    </mat-form-field>
    <mat-checkbox class="full-width" name="done" [(ngModel)]="articleCheckIn.done">Erledigt</mat-checkbox>
    <mat-form-field class="full-width" color="accent">
      <input matInput [matDatepicker]="date" [(ngModel)]="articleCheckIn.date" name="date" placeholder="Datum auswählen">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
  </mat-card>
</form>
