<mat-card class="card-margin">
  <mat-card-header>
    <mat-card-title class="card-title">aktuelle Bestellungen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-order-details class="card-margin" *ngFor="let order of orderObservable | async"
      [order]="order"></app-order-details>
  </mat-card-content>
</mat-card>
<mat-card class="card-margin">
  <mat-card-header>
    <mat-card-title class="card-title">archiverte Bestellungen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-order-details class="card-margin" *ngFor="let order of orderArchiveObservable | async"
      [order]="order.order"></app-order-details>
  </mat-card-content>
</mat-card>