<mat-card class="mat-card-padding">
  <mat-card-content class="common_table">
    <div>
      <div>Beschreibung</div>
      <div>{{location.description}}</div>
    </div>
    <div>
      <div>Adresse</div>
      <div>{{location.street}} {{location.number}}<br/>
        {{location.zipcode}} {{location.city}}
      </div>
    </div>
    <div>
      <div>Öffnungszeiten</div>
      <div>
        <p class="opening-hour-line" *ngFor="let openingHour of location.openingHours">
          {{openingHour.fromDate | date: "EEEE dd.MM.y": "GMT": "de-CH"}}, geöffnet von: {{openingHour.fromDate | date: "HH:mm"}}
          bis: {{openingHour.toDate | date: "HH:mm"}}
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
