<mat-card class="mat-card-padding">
  <mat-card-content class="common_table">
    <div>
      <div>Bestellnummer</div>
      <div>{{order.id}}</div>
    </div>
    <div>
      <div>Bestelldatum</div>
      <div>{{order.date | date: "HH:mm dd.MM.y"}}</div>
    </div>
    <div>
      <div>Besteller</div>
      <div>{{order.user?.prename}} {{order.user?.name}}</div>
    </div>
    <div>
      <div>Total</div>
      <div>{{order.totalPrice | currency: "CHF "}}</div>
    </div>
    <div>
      <div>Standort</div>
      <div>{{order.location?.description}}</div>
    </div>
    <div>
      <div>geplante Abholung</div>
      <div>
        {{order.plannedCheckout.fromDate | date: "EEEE dd.MM.y": "GMT": "de-CH"}}, geöffnet von:
        {{order.plannedCheckout.fromDate | date: "HH:mm"}}
        bis: {{order.plannedCheckout.toDate | date: "HH:mm"}}
      </div>
    </div>
    <div>
      <div>Abgeholt</div>
      <div *ngIf="order.checkedOut">{{order.checkedOutDate | date: "dd.MM.yyyy HH:mm:ss"}} (Verkäufer:
        {{order.checkingOutUser.prename}} {{order.checkingOutUser.name}})
      </div>
      <div *ngIf="!order.checkedOut">Nein</div>
    </div>
    <div>
      <div>Artikel</div>
      <div>
        <p class="order-item-line" *ngFor="let item of order.orderItems">
          {{item.quantity}} {{item.article?.unitOfMeasurement?.shortcut}} {{item.article?.description}} für
          {{item.copiedPrice * item.quantity | currency: "CHF "}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
