<app-table-header titleText="Adresse details" label="die Adresse" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<div class="main-container">
  <mat-card class="mat-card-padding">
    <div>
      <p>Id: {{(address | async)?.id}}</p>
      <p>Benutzer: {{(address | async)?.user?.name}}</p>
      <p>Beschreibung: {{(address | async)?.description}}</p>
      <p>Name: {{(address | async)?.name}}</p>
      <p>Vorname: {{(address | async)?.prename}}</p>
      <p>Strasse: {{(address | async)?.street}}</p>
      <p>Nummer: {{(address | async)?.number}}</p>
      <p>Zusatz: {{(address | async)?.addition}}</p>
      <p>PLZ: {{(address | async)?.zipcode}}</p>
      <p>Stadt: {{(address | async)?.city}}</p>
    </div>
  </mat-card>
</div>
