<app-table-header titleText="Adresse details" label="die Adresse" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<mat-card class="mat-card-padding">
  <mat-card-content class="common_table">
    <div>
      <div>Benuzter</div>
      <div>{{address.user?.prename}} {{address.user?.name}}</div>
    </div>
    <div>
      <div>Beschreibung</div>
      <div>{{address.description}}</div>
    </div>
    <div>
      <div>Name</div>
      <div>{{address.prename}} {{address.name}}</div>
    </div>
    <div>
      <div>Strasse</div>
      <div>{{address.street}} {{address.number}}</div>
    </div>
    <div *ngIf="address.addition">
      <div>Zusatz</div>
      <div>{{address.addition}}</div>
    </div>
    <div>
      <div>Ort</div>
      <div>{{address.zipcode}} {{address.city}}</div>
    </div>
  </mat-card-content>
</mat-card>

