<app-table-header titleText="Adresse details" label="die Adresse" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<div class="main-container">
  <mat-card class="mat-card-padding">
    <div>
      <p>Id: {{address.id}}</p>
      <p>Benutzer: {{address.user?.prename}} {{address.user?.name}}</p>
      <p>Beschreibung: {{address .description}}</p>
      <p>Name: {{address.name}}</p>
      <p>Vorname: {{address.prename}}</p>
      <p>Strasse: {{address.street}}</p>
      <p>Nummer: {{address.number}}</p>
      <p>Zusatz: {{address.addition}}</p>
      <p>PLZ: {{address.zipcode}}</p>
      <p>Stadt: {{address.city}}</p>
    </div>
  </mat-card>
</div>
