<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="example-sidenav">
    <nav class="noPadding">
      <h3>Stammdaten</h3>
      <ul>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="address" class="">
            <img src="assets/images/address.svg"/>
            <span>Adressen</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="article" class="">
            <mat-icon>add_shopping_cart</mat-icon>
            <span>Artikel</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="unitOfMeasurement" class="">
            <mat-icon>crop_free</mat-icon>
            <span>Masseinheiten</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="user" class="">
            <mat-icon>person</mat-icon>
            <span>Benutzerverwaltung</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="role" class="">
            <mat-icon>group</mat-icon>
            <span>Rolenverwaltung</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="location" class="">
            <mat-icon>list</mat-icon>
            <span>Standorte</span>
          </a>
        </li>
      </ul>
      <h3>Lager</h3>
      <ul>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="articleStock" class="">
            <mat-icon>library_books</mat-icon>
            <span>Lagerbestände</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="checkin" class="">
            <img src="assets/images/baseline-input-24px.svg"/>
            <span>Einbuchungen</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="checkout" class="">
            <img src="assets/images/baseline-output-24px.svg"/>
            <span>Ausbuchungen</span>
          </a>
        </li>
      </ul>
      <h3>Bestellungen</h3>
      <ul>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="customerOrder" class="">
            <mat-icon>library_books</mat-icon>
            <span>Kundenbestellungen</span>
          </a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
