<md-sidenav-container class="example-container">
  <md-sidenav mode="side" opened class="example-sidenav">
    <nav class="noPadding">
      <h3>Lieferungen</h3>
      <ul>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink='transport'>
            <md-icon>local_shipping</md-icon>
            <span>Transporte</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="storage" class="">
            <md-icon>grid_on</md-icon>
            <span>Lager</span>
          </a>
        </li>
      </ul>
      <h3>Stammdaten</h3>
      <ul>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="fruit" class="">
            <md-icon>list</md-icon>
            <span>Früchte</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="example-sidenav-item-selected" routerLink="user" class="">
            <md-icon>people</md-icon>
            <span>Benutzerverwaltung</span>
          </a>
        </li>
      </ul>
    </nav>
  </md-sidenav>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
