<app-table-header titleText="Bestellungseintrag" label="diesen Bestellungseintrag" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<mat-card class="mat-card-padding">
  <mat-card-content class="common_table">
    <div>
      <div>Artikel</div>
      <div>{{customerOrderItem.articleStock.article.description}}</div>
    </div>
    <div>
      <div>Menge</div>
      <div>{{customerOrderItem.quantity}} {{customerOrderItem.articleStock.article.unitOfMeasurement.shortcut}}</div>
    </div>
    <div>
      <div>Preis pro Einheit</div>
      <div>{{customerOrderItem.copiedPrice | currency: "CHF "}}</div>
    </div>
    <div>
      <div>Preis</div>
      <div>{{customerOrderItem.copiedPrice * customerOrderItem.quantity | currency: "CHF "}}</div>
    </div>
  </mat-card-content>
</mat-card>
