.sales-layout {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  mat-card {
    flex: 1 1 auto;
  }
  max-width: 50em;
}

.grid-button {
  font-size: 2em;
  border-radius: 0.5em;
  height: 1.5em;
  width: 100%;
  margin: 0.3em;
}

.number-grid {
  background-color: lightgreen;
}

.input-grid {
  background-color: lightblue;
}

.search-grid {
  background-color: yellow;
}

.clear-grid {
  background-color: lightsalmon;
}

.title--note {
  padding: 1em;
}

.fullView {
  display: flex;
  justify-content: center;
}

.space {
  margin-right: 1em;
}
