<app-sale-header titleText="Verkauf - Bestellung auswählen" showBack="true"></app-sale-header>
<div class="fullView">
  <div class="sales-layout">
    <mat-tab-group>
      <mat-tab label="Bestellnummer eingeben">
        <mat-card>
          <mat-card-title>Bestellungnummer eingeben</mat-card-title>
          <mat-grid-list cols="3" rowHeight="65px">
            <mat-grid-tile [colspan]="3" class="input-grid">
              <button mat-raised-button class="grid-button">{{bestellnummer}}</button>
              <button mat-button *ngIf="bestellnummer" matSuffix mat-icon-button class="space">
                <mat-icon *ngIf="numberValid">done</mat-icon>
                <mat-icon *ngIf="!numberValid">block</mat-icon>
              </button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('1')">
              <button mat-raised-button class="grid-button number-grid">1</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('2')">
              <button mat-raised-button class="grid-button number-grid">2</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('3')">
              <button mat-raised-button class="grid-button number-grid">3</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('4')">
              <button mat-raised-button class="grid-button number-grid">4</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('5')">
              <button mat-raised-button class="grid-button number-grid">5</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('6')">
              <button mat-raised-button class="grid-button number-grid">6</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('7')">
              <button mat-raised-button class="grid-button number-grid">7</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('8')">
              <button mat-raised-button class="grid-button number-grid">8</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('9')">
              <button mat-raised-button class="grid-button number-grid">9</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" (click)="enter('0')">
              <button mat-raised-button class="grid-button number-grid">0</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <button [disabled]="!numberValid" mat-raised-button class="grid-button search-grid" (click)="search()">
                Anzeigen
              </button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">
              <button [disabled]="!bestellnummer" mat-raised-button class="grid-button clear-grid" (click)="clear()">
                Eingaben löschen
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </mat-tab>
      <mat-tab label="Benutzer mit offenen Bestellungen"></mat-tab>
      <mat-tab label="alle offenen Bestellungen">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
