<div>
  <h3 class="h3__padding">Über uns</h3>
</div>
<div class="main-container">
  <p>Diese Seite wird vom Verein El Refugio betrieben (Thurgauer Handelsregister: <a
    href="https://tg.chregister.ch/cr-portal/auszug/auszug.xhtml?uid=CHE-248.097.370#"
    target="_blank">Verein
    El Refugio</a>).</p>
  <p>Information zu El Refugio finden Sie auf der Homepage: <a href="http://el-refugio-denia.com">Finca El Refugio</a>
  </p>
  <div class="address">
    <h4 class="h4__padding">Kontaktadresse:</h4>
    <div class="address-row">Verein El Refugio</div>
    <div class="address-row">c/o Konrad Leuenberger</div>
    <div class="address-row">Neuhausenstrasse 68a</div>
    <div class="address-row">8500 Frauenfeld</div>
    <div class="address-row">T +41 52 720 28 29</div>
    <div class="address-row">M +41 79 869 13 15</div>
  </div>
</div>
