<form #f="ngForm" (ngSubmit)="submit()">
  <app-table-header titleText="Transport bearbeiten" showBack="true" showCancelAndSave="true"
                    [form]="f"></app-table-header>
  <div class="main-container">
    <mat-card class="mat-card-padding">
      <mat-form-field color="accent">
        <input matInput [matDatepicker]="departureDatePicker" placeholder="Abfahrtstag"
               [(ngModel)]="transport.departureDate" name="departureDate" required readonly>
        <mat-datepicker-toggle mdSuffix [for]="departureDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #departureDatePicker></mat-datepicker>
      </mat-form-field>
      <p class="weight-title noMargin">Gewicht der Früchte in kg</p>
      <ul class="no-bullets noMargin">
        <li *ngFor="let fruitVolume of transport.fruitVolumes | sortByFruitName">
          <mat-form-field class="example-full-width gewicht-padding" color="accent">
            <input matInput placeholder="{{fruitVolume.fruit.name}}" [(ngModel)]="fruitVolume.weightInKg"
                   name="fruit-{{fruitVolume.fruit.id}}" isNumber isInRange [minValue]="0" [maxValue]="99999"
                   maxlength="5">
            <mat-error align="end">Zahl zwischen 0 und 99999 kg</mat-error>
          </mat-form-field>
        </li>
      </ul>
      <mat-form-field class="example-full-width" color="accent">
        <textarea matInput placeholder="Kommentar" #comment [(ngModel)]="transport.comment"
                  maxlength="256" name="comment"></textarea>
        <mat-hint align="end">{{comment.value.length}} / 256</mat-hint>
      </mat-form-field>
    </mat-card>
  </div>
</form>
