<app-list-header titleText="Transport bearbeiten" showBack="true" showCancelAndSave="true"></app-list-header>
<div class="main-container">
  <md-card class="md-card-padding">
    <md-form-field>
      <input mdInput [mdDatepicker]="departureDatePicker" placeholder="Abfahrtstag">
      <md-datepicker-toggle mdSuffix [for]="departureDatePicker"></md-datepicker-toggle>
      <md-datepicker #departureDatePicker></md-datepicker>
    </md-form-field>
    <p class="weight-title noMargin">Gewicht der Früchte in kg</p>
    <ul class="no-bullets noMargin">
      <li *ngFor="let fruit of fruitDatabase.data">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="{{fruit.name}}"
                 value="{{(fruit | convertToFruitVolume:((transport | async).fruitVolumes))?.weightInKg}}">
        </md-form-field>
      </li>
    </ul>
    <md-form-field class="example-full-width">
      <textarea mdInput placeholder="Kommentar"></textarea>
    </md-form-field>
  </md-card>
</div>
