<div>
  <h3 class="h3__padding">Organisation der Früchte</h3>
</div>
<div class="main-container">
  <h4>Liebe Früchtekunden und Freunde von El Refugio</h4>
  <p>Wir freuen uns, Euch auch dieses Jahr die herrlichen Zitrusfrüchte aus Spanien anbieten zu dürfen.</p>
  <ol>
    <li>
      Ihr könnt euch hier <a [routerLink]="['/register']">registrieren</a> und werdet nach jedem Eintreffen der Früchte
      über eine Mail informiert und könnt eure
      gewünschte Menge Früchte bestellen.
    </li>
    <li>
      Wir bieten für die Saison {{createSeasonString()}} die Online-Bestellungen mit Selbstabholungen der Früchte an verschiedenen Standorten an.
    </li>
    <li>
      Die genauen Angaben zu den Lieferungen erhaltet ihr jeweils mit der Mail, wenn die Früchte zur Bestellung
      aufgeschaltet sind.
    </li>
  </ol>
  <p>Weiter zu den <a [routerLink]="['/dashboard']">Früchten</a></p>
</div>
