<app-list-header titleText="Transport details" label="der Transport" id="{{(transport | async).id}}" showBack="true"
                 showDelete="true" showEdit="true"></app-list-header>
<div class="main-container">
  <md-card class="md-card-padding">
    <div>
      <p>Id: {{(transport | async).id}}</p>
      <p>Abfahrtstag: {{(transport | async).departureDate | date:'dd.MM.y'}}</p>
    </div>
    <div>
      <p>Früchte</p>
      <ul>
        <li *ngFor="let fruitVolume of (transport | async).fruitVolumes">{{fruitVolume.fruit.name}}:
          {{fruitVolume.weightInKg}} kg
        </li>
      </ul>
    </div>
  </md-card>
</div>
