.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.step-cards--background {
  display: flex;
  background-color: #eeeeee;
  padding: 0.5em;
  flex-wrap: wrap;
}

.step-cards--column {
  flex-direction: column;
}

.flex {
  flex: 1 1 30%;
}

.bold {
  font-weight: bold;
}

.total--line {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.total {
  font-size: 20pt;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
}
