<div *ngIf="state==='emptyCart'">
  <mat-card class="step-cards--background">
    <mat-card-title>leerer Warenkorb</mat-card-title>
    <mat-toolbar class="footer">
      <span class="fill-remaining-space"></span>
      <button mat-raised-button (click)="back()">Zurück</button>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
  </mat-card>
</div>
<mat-horizontal-stepper *ngIf="state=='ongoing'" [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Abholstation</ng-template>
      <div class="step1-cards">
        <mat-card class="step-cards--background">
          <mat-card-title>Abholstation auswählen</mat-card-title>
          <mat-radio-group class="radio-group" formControlName="firstCtrl">
            <mat-radio-button class="radio-button" *ngFor="let location of locations" [value]="location">
              {{location.description}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-card>
        <mat-card class="step-cards--background">
          <mat-card-title>Details</mat-card-title>
          <mat-card-content>
            <app-pickup-location-detail-only *ngIf="selectedLocation"
                                             [pickupLocation]="selectedLocation"></app-pickup-location-detail-only>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-toolbar class="footer">
        <button mat-raised-button matStepperNext (click)="back()">Abbrechen</button>
        <span class="fill-remaining-space"></span>
        <button [disabled]="!selectedLocation" mat-raised-button matStepperNext>Weiter</button>
      </mat-toolbar>
      <div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Abschliessen</ng-template>
    <app-checkout-detail [cartEntries]="cartService.getSavedCart()"></app-checkout-detail>
    <mat-card class="step-cards--background">
      <mat-card-title>Abholstation</mat-card-title>
      <mat-card-content>
        <app-pickup-location-detail-only *ngIf="selectedLocation"
                                         [pickupLocation]="selectedLocation"></app-pickup-location-detail-only>
      </mat-card-content>
    </mat-card>
    <mat-toolbar class="footer">
      <button mat-raised-button matStepperNext (click)="back()">Abbrechen</button>
      <button mat-raised-button matStepperPrevious>Zurück</button>
      <span class="fill-remaining-space"></span>
      <button mat-raised-button (click)="finished()">Bestellung abschliessen</button>
    </mat-toolbar>
  </mat-step>
</mat-horizontal-stepper>

<div *ngIf="state==='finished'">
  <mat-card class="step-cards--background">
    <mat-card-title>Bestellung abgeschlossen</mat-card-title>
    <mat-card-content>
      <p>Danke für die Bestellung.</p>
    </mat-card-content>
    <mat-toolbar class="footer">
      <span class="fill-remaining-space"></span>
      <button mat-raised-button (click)="back()">Fertig</button>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
  </mat-card>
</div>
