<app-table-filter (onChange)="applyFilter($event)" [settings]="this.settings"
                  placeholder="Filter Preise"></app-table-filter>
<mat-table #table [dataSource]="datasource" matSort>
  <ng-container matColumnDef="id" hidden>
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Preis</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.price}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="validFrom">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Gültig ab</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.validFrom}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="validTo">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Gültig bis</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.validTo}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table-row--highligthed" routerLink={{row.id}}
           *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
