<app-table-header titleText="Artikel details" label="dieser Artikel" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<mat-card class="mat-card-padding">
  <div class="common_table">
    <div>
      <div>Artikelnummer</div>
      <div>{{article.number}}</div>
    </div>
    <div>
      <div>Beschreibung</div>
      <div>{{article.description}}</div>
    </div>
    <div>
      <div>Preis pro Einheit</div>
      <div>{{article.price | currency: "CHF "}}</div>
    </div>
    <div>
      <div>Lagerbestand</div>
      <div>{{article.stock}} {{article.unitOfMeasurement?.shortcut}}</div>
    </div>
    <div>
      <div>Reserviert in Bestellungen</div>
      <div>{{article.reservedInOpenOrders}} {{article.unitOfMeasurement?.shortcut}}</div>
    </div>
    <div>
      <div>effektiv Verfügbar</div>
      <div>{{article.stock - article.reservedInOpenOrders}} {{article.unitOfMeasurement?.shortcut}}</div>
    </div>
    <div>
      <div>Status</div>
      <div>{{article.status}}</div>
    </div>
  </div>
</mat-card>
