<app-table-header titleText="Artikel details" label="dieser Artikel" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<mat-card class="mat-card-padding">
  <div class="common_table">
    <div>
      <div>Artikelnummer</div>
      <div>{{article.number}}</div>
    </div>
    <div>
      <div>Beschreibung</div>
      <div>{{article.description}}</div>
    </div>
    <div>
      <div>Preis</div>
      <div>{{article.price}}</div>
    </div>
    <div>
      <div>lagerbestand</div>
      <div>{{article.stock}}</div>
    </div>
    <div>
      <div>Status</div>
      <div>{{article.status}}</div>
    </div>
    <div>
      <div>Masseinheit</div>
      <div>{{article.unitOfMeasurement?.shortcut}} ({{article.unitOfMeasurement?.description}})</div>
    </div>
  </div>
</mat-card>
