<app-table-header titleText="Artikel details" label="dieser Artikel" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<mat-card class="mat-card-padding">
  <mat-card-content class="common_table">
    <div>
      <div>Artikelnummer</div>
      <div>{{article.number}}</div>
    </div>
    <div>
      <div>Beschreibung</div>
      <div>{{article.description}}</div>
    </div>
    <div>
      <div>Preis pro Einheit</div>
      <div>{{article.price | currency: "CHF "}}</div>
    </div>
    <div>
      <div>Im Verkauf</div>
      <div>{{article.inSale && 'Ja' || 'Nein'}}</div>
    </div>
  </mat-card-content>
</mat-card>
