<div class="noPadding toolbar-content">
  <mat-toolbar color="primary">
    <span><a class="title" routerLink="/">Citrus</a></span>
    <span class="fill-remaining-space"></span>
    <button *ngIf="authService.isSale()" mat-raised-button class="sale-button" routerLink="/sale">
      <mat-icon>money</mat-icon>
      <span class="button-space">Verkauf</span>
    </button>
    <button *ngIf="authService.isAdmin()" mat-raised-button class="sale-button" routerLink="/administration">
      <mat-icon>list</mat-icon>
      <span class="button-space">Administration</span>
    </button>
    <a *ngIf="!authService.loggedIn()" routerLink='login'><span>login</span></a>
    <button *ngIf="authService.loggedIn()" mat-raised-button [matMenuTriggerFor]="menu">
      <span class="button-space">Meine Konto</span>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span class="menu-entry">Abmelden</span>
      </button>
      <button mat-menu-item routerLink="/changeMyPassword">
        <mat-icon>security</mat-icon>
        <span class="menu-entry">Passwort ändern</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
