<div class="noPadding toolbar-content">
  <mat-toolbar color="primary">
    <span><a class="title" routerLink="/">Citrus</a></span>
    <span class="fill-remaining-space"></span>
    <a *ngIf="!authService.loggedIn()" routerLink='login'><span>login</span></a>
    <button *ngIf="authService.loggedIn()" mat-button [matMenuTriggerFor]="menu">
      <span *ngIf="authService.loggedIn()">{{authService.getLoggedInUsername()}}</span>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <a class="menu-entry"><span>logout</span></a>
      </button>
      <button mat-menu-item>
        <mat-icon>security</mat-icon>
        <a class="menu-entry" routerLink="/changeMyPassword"><span>Passwort ändern</span></a>
      </button>
      <button *ngIf="authService.isAdmin()" mat-menu-item >
        <mat-icon>list</mat-icon>
        <a class="menu-entry" routerLink="/administration"><span>admin</span></a>
      </button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
