<mat-drawer-container class="sidenav-container all-wrap" autosize fullscreen>
  <mat-drawer class="sidebar sidebar-positions shopping--cart" mode="side" position="end" opened>
    <app-shopping-cart></app-shopping-cart>
  </mat-drawer>
  <div class="noPadding toolbar-content page-wrap">
    <mat-toolbar color="primary" class="header">
      <img src="/assets/images/logo2.png" class="logo-image">
      <span>
        <a class="title">El Refugio</a>
      </span>
      <button mat-button class="sale-button" routerLink="/organisation">
        <mat-icon>home</mat-icon>
        <span class="button-space">Home</span>
      </button>
      <button mat-button class="sale-button" routerLink="/dashboard">
        <mat-icon>shop</mat-icon>
        <span class="button-space">Shop</span>
      </button>
      <button *ngIf="authService.loggedIn()" mat-button class="sale-button" routerLink="/locations">
        <mat-icon>schedule</mat-icon>
        <span class="footer-button">Abholzeiten</span>
      </button>
      <span class="fill-remaining-space"></span>
      <button *ngIf="authService.isAdmin()" mat-raised-button class="sale-button" routerLink="/administration">
        <mat-icon>list</mat-icon>
        <span class="button-space">Administration</span>
      </button>
      <button *ngIf="!authService.loggedIn()" mat-button class="sale-button" routerLink="/dashboard">
        <mat-icon>security</mat-icon>
        <span class="button-space">Anmelden</span>
      </button>
      <button *ngIf="authService.loggedIn()" mat-raised-button [matMenuTriggerFor]="menu">
        <span class="button-space">Mein Konto</span>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!--        <span class="user-id">UserId: {{authService.getLoggedInUserId()}}</span>-->
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span class="menu-entry">Abmelden</span>
        </button>
        <button mat-menu-item routerLink="/changeMyPassword">
          <mat-icon>security</mat-icon>
          <span class="menu-entry">Passwort ändern</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <mat-toolbar class="footer" color="primary">
      <span class="fill-remaining-space"></span>
      <button mat-button class="sale-button" routerLink="/organisation">
        <mat-icon>home</mat-icon>
        <span class="footer-button">Organisation der Früchte</span>
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-button class="sale-button" routerLink="/aboutUs">
        <mat-icon>group</mat-icon>
        <span class="footer-button">Über uns</span>
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-button class="sale-button" routerLink="/privacyPolicy">
        <mat-icon>security</mat-icon>
        <span class="footer-button">Datenschutz</span>
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-button class="sale-button" routerLink="/contact">
        <mat-icon>contact_mail</mat-icon>
        <span class="footer-button">Kontakt</span>
      </button>
      <span class="fill-remaining-space"></span>
    </mat-toolbar>
  </div>
</mat-drawer-container>
