<div class="header--flex div--no-margins">
  <button mat-button type="button" class="size-xs button--responsive" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h3 class="h3--no-margins toolbar--title">{{titleText}}</h3>
  <span class="fill-remaining-space"></span>
  <div *ngIf="showLocationLabel">
    <div *ngIf="selectedLocation" class="toolbar--text">
      <span class="toolbar--text2">{{orderCount}} offene Bestellung</span>
      <span class="toolbar--text2" *ngIf="orderCount!==1">en</span>
      <span class="toolbar--text2">&nbsp;am Standort</span>
    </div>
    <span *ngIf="!selectedLocation" class="toolbar--text">keinen Standort ausgewählt</span>
  </div>
  <app-sale-location></app-sale-location>
</div>
