button.button--responsive {
  min-width: 30px;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
}

.center-buttons {
  padding-right: 0.5em;
  padding-left: 0.5em;
  min-width: 125px;
  flex-grow: 0;
}

.cart-color-green {
  background-color: #00CC00;
}

.cart-color-red {
  background-color: #CC0000;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.cart-article-column {
  //  min-width: 10em;
  padding-right: 0.5em;
  padding-left: 1em;
}

.cart-article-font {
  font-weight: bold;
  font-size: 13px;
}

.cart-data-font {
  font-size: 13px;
  align-items: center;
}

.title {
  padding: 0.5em;
  font-size: 15px;
  font-weight: bold;
}

.title--price {
  padding: 0.5em;
  font-size: 14px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.cart--item {
  display: flex;
  flex-direction: row;
  background-color: #F7F7F7;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-top: 1px solid #E0E0E0;
  align-items: center;
}

.title--line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: #E0E0E0;
  border-top: 2px solid #aaa;
}

.cart--item--text {
  padding-left: 1em;
  flex: 1 1 auto;
}

button.cash-button {
  min-width: 125px;
  margin: 0.5em;
  border-radius: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.icon-margin {
  margin: 0.5em;
}

.left-icon {
  margin: 0.5em 0 0.5em 0.2em;
}

.right-icon {
  margin: 0.5em 0.5em 0.5em 0;
}

.cart-header {
  display: flex;
  align-items: center;
  min-width: 15em;
}

