@use '~@angular/material' as mat;
@mixin app-shopping-cart-detail-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-shopping-cart-detail {
    .cart-header {
      background-color: mat.get-color-from-palette($accent);
    }

    .cash-button {
      background-color: mat.get-color-from-palette($accent);
    }
  }
}
