.filter-container {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}
