<form #f="ngForm" (ngSubmit)="submit()">
  <app-table-header titleText="Kundenbestellung bearbeiten" showBack="true" showCancelAndSave="true"
                    [form]="f"></app-table-header>
  <div class="main-container">
    <mat-card class="mat-card-padding">
      <p class="const">Bestellnummer: {{order.id}}</p>
      <p class="const">Bestelldatum: {{order.date | date: "dd.MM.yyyy HH:mm:ss"}}</p>
      <p class="const">Besteller: {{order.user?.prename}} {{order.user?.name}} ({{order.user?.email}})</p>
      <p class="const">Kommentar: {{order.comment}}</p>
      <p class="const">Standort: {{order.location.description}}</p>
      <mat-form-field class="full-width" color="accent">
        <mat-select placeholder="geplante Abholung" #plannedCheckout name="plannedCheckout"
                    [(ngModel)]="order.plannedCheckout" required>
          <mat-option *ngFor="let openingHour of order.location?.openingHours" [value]="openingHour">
            {{openingHour.fromDate | date: "EEEE dd.MM.y": "GMT": "de-CH"}}, geöffnet von:
            {{openingHour.fromDate | date: "HH:mm"}}
            bis: {{openingHour.toDate | date: "HH:mm"}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox class="full-width" name="done" [(ngModel)]="order.checkedOut">Abgeholt</mat-checkbox>
    </mat-card>
  </div>
  <mat-tab-group (selectedTabChange)="tabChange($event)">
    <mat-tab label="bestellte Artikel"></mat-tab>
    <mat-tab label="abgeholte Artikel"></mat-tab>
  </mat-tab-group>
  <router-outlet name="details"></router-outlet>
</form>
