<form #f="ngForm" (ngSubmit)="submit()">
  <app-table-header titleText="Benutzer bearbeiten" showBack="true" showCancelAndSave="true"
                    [form]="f"></app-table-header>
  <div class="main-container">
    <mat-card class="mat-card-padding">
      <div class="row_20_80">
        <mat-form-field class="full-width" color="accent">
          <input matInput placeholder="Kundennummer" #number [(ngModel)]="userInfo.id"
                 maxlength="256" name="number" readonly>
          <mat-hint align="end">{{number.value.length}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" color="accent">
          <input matInput placeholder="Email" #email [(ngModel)]="userInfo.email"
                 maxlength="256" name="email">
          <mat-hint align="end">{{email.value.length}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="row_50_50">
        <mat-form-field class="full-width" color="accent">
          <input matInput placeholder="Name" #name [(ngModel)]="userInfo.name"
                 maxlength="256" name="name">
          <mat-hint align="end">{{name.value.length}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" color="accent">
          <input matInput placeholder="Vorname" #prename [(ngModel)]="userInfo.prename"
                 maxlength="256" name="prename">
          <mat-hint align="end">{{prename.value.length}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="row_50_50">
        <mat-form-field class="full-width" color="accent">
          <input matInput placeholder="Phone" #phone [(ngModel)]="userInfo.phone"
                 maxlength="256" name="phone">
          <mat-hint align="end">{{phone.value.length}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" color="accent">
          <input matInput placeholder="Mobile" #mobile [(ngModel)]="userInfo.mobile"
                 maxlength="256" name="mobile">
          <mat-hint align="end">{{mobile.value.length}}</mat-hint>
        </mat-form-field>
      </div>
      <mat-card class="role-card">
        <mat-card-title class="rolen-title">Rollen</mat-card-title>
        <mat-card-content class="role-content">
          <mat-checkbox *ngFor="let rolePair of rolePairs" name="{{rolePair.role.name}}" [(ngModel)]="rolePair.checked">
            {{rolePair.role.name}}
          </mat-checkbox>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
</form>
