<app-table-header titleText="Kundenbestellung details" label="diese Kundenbestellung" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<app-order-detail-only class="main-container" [order]="order"></app-order-detail-only>
<mat-card class="mat-card-padding">
  <mat-card-content class="common_table">
    <button mat-button class="button--responsive" (click)="resendConfirmation()">
      <mat-icon>email</mat-icon>
      <span class="size-xl">Bestellbestätigung erneut per Email senden</span>
    </button>
  </mat-card-content>
</mat-card>
