<md-toolbar color="accent" class="toolbar-content">
  <span>neuer Transport</span>
  <span class="fill-remaining-space"></span>
  <a routerLink='../create-transport'><md-icon>save</md-icon><span>speichern</span></a>
</md-toolbar>
<div class="main-container">
  <div>
    <md-card class="md-card-padding">
      <md-form-field>
        <input mdInput [mdDatepicker]="departureDatePicker" placeholder="Abfahrtstag">
        <md-datepicker-toggle mdSuffix [for]="departureDatePicker"></md-datepicker-toggle>
        <md-datepicker #departureDatePicker></md-datepicker>
      </md-form-field>
      <p class="weight-title noMargin">Gewicht der Früchte in kg</p>
      <ul class="no-bullets noMargin">
        <li>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Orangen">
          </md-form-field>
        </li>
        <li>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Grapefruit rot">
          </md-form-field>
        </li>
        <li>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Grapefruit gelb">
          </md-form-field>
        </li>
        <li>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Zitronen">
          </md-form-field>
        </li>
      </ul>
      <md-form-field class="example-full-width">
        <textarea mdInput placeholder="Kommentar"></textarea>
      </md-form-field>
    </md-card>
  </div>
</div>
