<app-table-header titleText="Rolen details" label="diese Role" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<mat-card class="mat-card-padding">
  <div class="common_table">
    <div>
      <div>Name</div>
      <div>{{role.name}}</div>
    </div>
    <div>
      <div>Benutzer mit dieser Role</div>
      <div>
        <p class="opening-hour-line" *ngFor="let user of role.users">
          {{user.prename}} {{user.name}}, {{user.email}}
        </p>
      </div>
    </div>
  </div>
</mat-card>
