.main-container {
  display: flex;
}

.mat-card-padding {
  flex: 1 1 auto;
  display: flex;
}

.header {
  font-weight: bold;
}

.table-style {
  border-width: 0;
  width: 100%;
}

.common_table{
  display:table;
  flex: 1 1 auto;
  border-collapse:collapse;
  > div:nth-child(even) {
    background-color: #eaeaea;
  }
  div{
    padding: 0.5em;
    display:table-row;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    div{
      display:table-cell;
    }
  }
}

:host {
  width: 100%;
}
