<app-table-header titleText="Öffnungszeiten" label="diese Öffnungszeit" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<div class="main-container">
  <mat-card class="mat-card-padding">
    <div class="common_table">
      <div><div>Datum</div><div>{{openingHour.fromDate | date: "dd.MM.y"}}</div></div>
      <div><div>Von</div><div>{{openingHour.fromDate | date: "HH:mm"}}</div></div>
      <div><div>Bis</div><div>{{openingHour.toDate | date: "HH:mm"}}</div></div>
    </div>
  </mat-card>
</div>
