@mixin app-transportation-overview-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-transportation-overview {
    .table-row--highligthed:hover {
      background-color: mat-color($primary);
    }
  }
}

