<form #f="ngForm" (ngSubmit)="submit()">
  <app-table-header titleText="Ausbuchung bearbeiten" showBack="true" showCancelAndSave="true"
                    [form]="f"></app-table-header>
  <mat-card class="mat-card-padding">
    <mat-form-field class="full-width" color="accent">
      <mat-select placeholder="Lagerbestand" #articleStock name="articleStock"
                  [(ngModel)]="articleCheckOut.articleStock">
        <mat-option *ngFor="let articleStock of articleStockSubject | async" [value]="articleStock">
          {{articleStock.article.number}} {{articleStock.article.description}}, {{articleStock.location.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" color="accent">
      <input matInput placeholder="Menge in {{articleCheckOut.articleStock.article.unitOfMeasurement.shortcut}}" #quantity [(ngModel)]="articleCheckOut.quantity"
             maxlength="256" name="quantity">
      <mat-hint align="end">{{quantity.value.length}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width" color="accent">
      <input matInput placeholder="Kommentar" #comment [(ngModel)]="articleCheckOut.comment"
             maxlength="256" name="comment">
      <mat-hint align="end">{{comment.value.length}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width" color="accent">
      <input matInput [matDatepicker]="plannedDate" [(ngModel)]="articleCheckOut.plannedDate" name="plannedDate"
             placeholder="geplantes Datum auswählen">
      <mat-datepicker-toggle matSuffix [for]="plannedDate"></mat-datepicker-toggle>
      <mat-datepicker #plannedDate></mat-datepicker>
    </mat-form-field>
    <mat-checkbox class="full-width" name="done" [(ngModel)]="articleCheckOut.done">Erledigt</mat-checkbox>
  </mat-card>
</form>
