<app-table-filter (onChange)="applyFilter($event)" [settings]="this.settings"
                  placeholder="Filter Lagerstand"></app-table-filter>
<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id" hidden>
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="article">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Artikel</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.article.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Menge an Lager</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.quantity}} {{row.article.unitOfMeasurement.shortcut}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="reservedQuantity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Menge reserviert</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.reservedQuantity}} {{row.article.unitOfMeasurement.shortcut}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="available">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Menge verfügbar</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.quantity - row.reservedQuantity}} {{row.article.unitOfMeasurement.shortcut}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="soldOut">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Ausverkauft</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.soldOut && 'Ja' || 'Nein'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="visible">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Sichtbar</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.visible && 'Ja' || 'Nein'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="location">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Standort</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.location.description}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table-row--highligthed" routerLink={{row.id}}
           *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
