<app-table-filter (onChange)="applyFilter($event)" [settings]="this.settings" placeholder="Filter Lagerstand">
</app-table-filter>
<div class="flex">
  <span class="fill-remaining-space"></span>
  <button class="filter--button" mat-raised-button color="accent" (click)=saveAll()>
    alle neuen Lagerbestände speichern
  </button>
</div>
<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id" hidden>
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row" routerLink={{row.dto.id}}> {{row.dto.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="article">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Artikel</mat-header-cell>
    <mat-cell *matCellDef="let row" routerLink={{row.dto.id}}> {{row.dto.article.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Menge an Lager</mat-header-cell>
    <mat-cell *matCellDef="let row" routerLink={{row.dto.id}}> {{row.dto.quantity}}
      {{row.dto.article.unitOfMeasurement.shortcut}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="reservedQuantity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Menge reserviert</mat-header-cell>
    <mat-cell *matCellDef="let row" routerLink={{row.dto.id}}> {{row.dto.reservedQuantity}}
      {{row.dto.article.unitOfMeasurement.shortcut}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="available">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Menge verfügbar</mat-header-cell>
    <mat-cell *matCellDef="let row" routerLink={{row.dto.id}}> {{row.dto.quantity - row.dto.reservedQuantity}}
      {{row.dto.article.unitOfMeasurement.shortcut}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="soldOut">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="center">Ausverkauft</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span class="fill-remaining-space"></span>
      <mat-checkbox name="visible" (click)="toggleSoldOut(row.dto.id)" [(ngModel)]="row.dto.soldOut"></mat-checkbox>
      <span class="fill-remaining-space"></span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="visible">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="center">Sichtbar</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span class="fill-remaining-space"></span>
      <mat-checkbox name="visible" (click)="toggleVisible(row.dto.id)" [(ngModel)]="row.dto.visible">
      </mat-checkbox>
      <span class="fill-remaining-space"></span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="location">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Standort</mat-header-cell>
    <mat-cell *matCellDef="let row" routerLink={{row.dto.id}}>{{row.dto.location.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="newQuantity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>neuer Lagerbestand</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-form-field class="full-width" color="accent">
        <input matInput #newQuantity [(ngModel)]="row.newQuantity" maxlength="256" name="newQuantity">
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table-row--highligthed" *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>