<div class="header--flex div--no-margins">
  <button md-button type="button" class="size-xs button--responsive" (click)="back()" *ngIf="showBack">
    <md-icon>arrow_back</md-icon>
  </button>
  <h3 class="h3--no-margins h3--padding toolbar--title">{{titleText}}</h3>
  <span class="fill-remaining-space"></span>
  <button md-button type="submit" class="button--responsive" (click)="create()" *ngIf="showCreate">
    <md-icon>add</md-icon>
    <span class="size-xl">erstellen</span>
  </button>
  <button md-button class="button--responsive" (click)="edit()" *ngIf="showEdit">
    <md-icon>mode_edit</md-icon>
    <span class="size-xl">bearbeiten</span>
  </button>
  <button md-button class="button--responsive" (click)="delete()" *ngIf="showDelete">
    <md-icon>delete</md-icon>
    <span class="size-xl">löschen</span>
  </button>
  <button md-button type="button" class="size-xs button--responsive" (click)="back()" *ngIf="showCancelAndSave">
    <md-icon>cancel</md-icon>
    <span class="size-xl">abbrechen</span>
  </button>
  <button md-button type="submit" class="size-xs button--responsive" *ngIf="showCancelAndSave" [disabled]="!form.valid">
    <md-icon>save</md-icon>
    <span class="size-xl">speichern</span>
    <!-- [disabled]="!f.valid" -->
  </button>
</div>
