<form #f="ngForm" (ngSubmit)="submit()">
  <app-list-header titleText="Transport erstellen" showBack="true" showCancelAndSave="true"
                   [form]="f"></app-list-header>
  <div class="main-container">
    <md-card class="md-card-padding">
      <md-form-field color="accent">
        <input mdInput [mdDatepicker]="departureDatePicker" placeholder="Abfahrtstag"
               [(ngModel)]="transport.departureDate" name="departureDate" required readonly>
        <md-datepicker-toggle mdSuffix [for]="departureDatePicker"></md-datepicker-toggle>
        <md-datepicker #departureDatePicker></md-datepicker>
      </md-form-field>
      <p class="weight-title noMargin">Gewicht der Früchte in kg</p>
      <ul class="no-bullets noMargin">
        <li *ngFor="let fruitVolume of transport.fruitVolumes | sortByFruitName">
          <md-form-field class="example-full-width gewicht-padding" color="accent">
            <input mdInput placeholder="{{fruitVolume.fruit.name}}" [(ngModel)]="fruitVolume.weightInKg"
                   name="fruit-{{fruitVolume.fruit.id}}" isNumber isInRange [minValue]="0" [maxValue]="99999"
                   maxlength="5">
            <md-error align="end">Zahl zwischen 0 und 99999 kg</md-error>
          </md-form-field>
        </li>
      </ul>
      <md-form-field class="example-full-width" color="accent">
        <textarea mdInput placeholder="Kommentar" #comment [(ngModel)]="transport.comment"
                  maxlength="256" name="comment"></textarea>
        <md-hint align="end">{{comment.value.length}} / 256</md-hint>
      </md-form-field>
    </md-card>
  </div>
</form>
