<app-table-header titleText="Früchte" [showCreate]="true"></app-table-header>
<app-table-filter (onChange)="onFilterChange($event)" [settings]="this.settings"
                  placeholder="Filter Früchte"></app-table-filter>
<md-table #table [dataSource]="dataSource" mdSort>
  <ng-container mdColumnDef="id" hidden>
    <md-header-cell *mdHeaderCellDef md-sort-header>ID</md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.id}}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="name">
    <md-header-cell *mdHeaderCellDef md-sort-header>Name</md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.name}}</md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row class="table-row--highligthed" routerLink={{row.id}}
          *mdRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>
<md-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></md-paginator>
