<app-table-header titleText="Benutzer details" label="der Benutzer" showBack="true"
                  showDelete="true" showEdit="true" showPasswordChange="true"></app-table-header>
<div class="main-container">
  <mat-card class="mat-card-padding">
    <div>
      <p>Id: {{userInfo.id}}</p>
      <p>Kundennummer: {{userInfo.number}}</p>
      <p>Email: {{userInfo.email}}</p>
      <p>Name: {{userInfo.name}}</p>
      <p>Vorname: {{userInfo.prename}}</p>
      <p>Phone: {{userInfo.phone}}</p>
      <p>Mobile: {{userInfo.mobile}}</p>
    </div>
  </mat-card>
  <!--  <app-address-table [displayedColumns]="displayedColumns" [whereDefinition]="whereDefinition"></app-address-table>-->
</div>
