<app-table-filter (onChange)="applyFilter($event)" [settings]="this.settings"
                  placeholder="Filter Standort"></app-table-filter>
<mat-table #table [dataSource]="datasource" matSort>
  <ng-container matColumnDef="id" hidden>
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Addresse</mat-header-cell>
    <mat-cell *matCellDef="let row" class="small-font start"> {{row.street}} {{row.number}}<br/>
      {{row.zipcode}} {{row.city}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="openingHours">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Öffnungszeiten</mat-header-cell>
    <mat-cell *matCellDef="let row" class="small-font start">
      <div class="opening-hour-line" *ngFor="let openingHour of row.openingHours">
        {{openingHour.fromDate | date: "EEEE dd.MM.y"}}, geöffnet von: {{openingHour.fromDate | date: "HH:mm"}}
        bis: {{openingHour.toDate | date: "HH:mm"}}
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table-row--highligthed" routerLink={{row.id}}
           *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
