<app-table-filter (onChange)="applyFilter($event)"
                  placeholder="Filter Artikel"></app-table-filter>
<mat-table #table [dataSource]="datasource" matSort>
  <ng-container matColumnDef="id" hidden>
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Artikelnummer</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.number}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Preis</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.price | currency: 'CHF '}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="stock">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Lagerbestand</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.stock}} {{row.unitOfMeasurement.shortcut}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Artikelstatus</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Warenkorb">
    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *matCellDef="let row" class="center">
      <mat-icon>add_shopping_cart</mat-icon>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table-row--highligthed" (click)="addToCart(row.id)"
           *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
