<app-sale-header titleText="Verkauf - Bestellung" [showBack]="true"></app-sale-header>
<div class="fullView">
  <div class="smallerView">
    <mat-card class="container">
      <mat-card-title>Bestellnummer: {{order?.id}}</mat-card-title>
      <mat-card-content *ngIf="order" class="common_table">
        <div>
          <div>Bestelldatum</div>
          <div>{{order.date | date: "HH:mm dd.MM.y"}}</div>
        </div>
        <div>
          <div>Kunde</div>
          <div>{{order.user.prename}} {{order.user.name}} ({{order.user.email}}, {{order.user.phone}})</div>
        </div>
        <div>
          <div>Standort</div>
          <div >{{order.location?.description}}</div>
        </div>
        <div>
          <div>geplante Abholung</div>
          <div>
            {{order.plannedCheckout.fromDate | date: "EEEE dd.MM.y": "GMT": "de-CH"}}, geöffnet von:
            {{order.plannedCheckout.fromDate | date: "HH:mm"}}
            bis: {{order.plannedCheckout.toDate | date: "HH:mm"}}
          </div>
        </div>
        <div>
          <div>bestellte Artikel</div>
          <div>
            <p class="order-item-line" *ngFor="let item of order.orderItems">
              {{item.quantity}} {{item.article?.unitOfMeasurement?.shortcut}} {{item.article?.description}} für
              {{item.copiedPrice * item.quantity | currency: "CHF "}}</p>
          </div>
        </div>
      </mat-card-content>
      <mat-card-title *ngIf="order" class="total--price--label">Verkaufspreis: {{order.totalPrice | currency: "CHF "}}
      </mat-card-title>
      <div class="error" *ngIf="!saleLocationOk">Achtung: Der Verkaufsstandort
        ({{saleLocationService.getSaleLocation().getValue().description}}) stimmt nicht mit dem Bestellstandort
        ({{order.location.description}}) überein und kann hier nicht verkauft werden!
      </div>
    </mat-card>
    <mat-toolbar class="footer" >
      <button mat-raised-button routerLink="..">Zurück</button>
      <span class="fill-remaining-space"></span>
      <button [disabled]="!order || !saleLocationOk" mat-raised-button (click)="checkout()">Bestellung abgeholt</button>
    </mat-toolbar>
  </div>
</div>
