@import "../../styles/detail";
@import "../../styles/div-table";
@import "../../styles/edit";


.error {
  font-size:  1em;
  color: red;
  font-weight: 600;
}

.order-item-line {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.fullView {
  display: flex;
  justify-content: center;
}

.smallerView {
  flex: 1 1 auto;
  max-width: 35em;
}

.total--price--label {
  font-weight: 600;
}
