<app-table-header titleText="Benutzer details" label="der Benutzer" [showBack]="true" [showDelete]="true"
  [showEdit]="true" [showPasswordChange]="true"></app-table-header>
<mat-card class="mat-card-padding">
  <mat-card-content class="common_table">
    <div>
      <div>Kundennummer</div>
      <div>{{(user | async).id}}</div>
    </div>
    <div>
      <div>Email</div>
      <div>{{(user | async).email}}</div>
    </div>
    <div>
      <div>Name</div>
      <div>{{(user | async).prename}} {{(user | async).name}}</div>
    </div>
    <div>
      <div>Phone</div>
      <div>{{(user | async).phone}}</div>
    </div>
    <div>
      <div>Rollen</div>
      <div>{{roles | async}}</div>
    </div>
  </mat-card-content>
</mat-card>
<div>
  <app-orders-by-user [user]="user"></app-orders-by-user>
</div>