<div class='container'>
  <mat-card>
    <button mat-raised-button color='accent' routerLink='../transportation-overview'>Transport</button>
  </mat-card>
  <mat-card>
    <button mat-raised-button color='accent' routerLink='../administration'>Administration</button>
  </mat-card>
  <mat-card>
    <button mat-raised-button color='accent' routerLink='../buy'>Kaufen</button>
  </mat-card>
  <mat-card>
    <button mat-raised-button color='accent' routerLink='../fetch'>Abholen</button>
  </mat-card>
</div>
