.sidenav-container {
  position: absolute;
  width: 100%;
}

.sidebar {
  background-color: #DDDDDD;
  min-width: 20em;
}

.cart-header {
  display: flex;
  align-items: center;
}

.cart-total-price {
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  justify-content: space-between;
  font-size: 13px;
  height: 2em;
}

.space {
  padding-left: 1em;
  padding-right: 0.5em;
}

.highlighted-font {
  font-weight: bold;
}

.cart-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 3.5em;
}

.icon-margin {
  margin: 0.5em;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

button.button--responsive {
  min-width: 10px;
  margin: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

button.cash-button {
  min-width: 10px;
  margin: 0.2em;
  border-radius: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.height-without-toolbar {
  height: calc(100% - 64px);
}

.sidebar-positions {
  display: flex;
  align-content: space-between;
  flex-direction: column;
}
