<mat-sidenav-container class="example-container">
  <mat-sidenav position="end" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')" class="sidebar" [fixedInViewport]="false">
    <div class="cart-header">
      <mat-icon class="icon-margin">shopping_cart</mat-icon>
      <span class="fill-remaining-space">Warenkorb</span>
      <button mat-button type="submit" class="button--responsive" (click)="clearCart()">
        <mat-icon>delete</mat-icon>
        <span class="size-xl">leeren</span>
      </button>
    </div>
    <app-shopping-cart></app-shopping-cart>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-public-article-list class="articles"></app-public-article-list>
<!--    <p>
      <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
    </p>
    <p>
      <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    </p>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div>-->
  </mat-sidenav-content>
</mat-sidenav-container>
