<div>
  <h3 class="h3__padding">Kontakt</h3>
</div>
<div class="main-container">
  <p>Bei Fragen oder Unklarheiten wenden sie sich bitte an: <a href="mailto:el.refugio@gmx.ch">el.refugio@gmx.ch</a></p>
  <div class="address">
    <h4 class="h4__padding">Kontaktadresse:</h4>
    <div class="address-row">Verein El Refugio</div>
    <div class="address-row">c/o Konrad Leuenberger</div>
    <div class="address-row">Neuhausenstrasse 68a</div>
    <div class="address-row">8500 Frauenfeld</div>
    <div class="address-row">T +41 52 720 28 29</div>
    <div class="address-row">M +41 79 869 13 15</div>
  </div>
</div>
