<div>
  <h3 class="h3__padding">Datenschutz</h3>
</div>
<div class="main-container">
  <p>Der Verein El Refugio als Betreiberin dieser Seite nimmt den Schutz Ihrer persönlichen Daten sehr ernst. Wir
    behandeln Ihre Daten entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
  <p>Die Nutzung unserer Website ist unter Angabe von Name und E-Mail Adresse möglich. Diese Daten werden vertraulich
    behandelt und ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
  <p>Wir möchten Sie darauf hinweisen, dass Datenübertragungen im Internet immer Sicherheitslücken aufweisen können und
    daher ein lückenloser Schutz der Daten vor dem Zugriff Dritter nicht möglich ist.</p>
</div>
