.card-title {
  border: none;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 48px;
  font-weight: 800;
  margin: 0;
  padding: 0 16px;
}

.mat-card-padding {
  padding: 16px;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.example-full-width {
  width: 100%;
}
