/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";

.fill-remaining-space {
  flex: 1 1 auto;
}

.noMargin {
  margin: 0px;
}

.noPadding {
  padding: 0px;
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
