@use '~@angular/material' as mat;

@include mat.core();

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat.define-palette(mat.$grey-palette); // default, lighter, darker
$my-theme-accent: mat.define-palette(mat.$orange-palette, 300, 200, 400);
$my-theme-warn: mat.define-palette(mat.$deep-orange-palette, A100);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat.define-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

@import "app/cart/shopping-cart-detail/shopping-cart-detail.component.scss-theme";
@import "app/cart/shopping-cart-view/shopping-cart-view.component.scss-theme";
@import "app/table-support/table-header/table-header.component.scss-theme";
@import "app/childs/administration/administration.component.scss-theme";
@import "app/childs/address/address-table/address-table.component.scss-theme";
@import "app/childs/user/user-overview/user-overview.component.scss-theme";
@import "app/childs/article/article-table/article-table.component.scss-theme";
@import "app/childs/article-checkin/article-checkin-table/article-checkin-table.component.scss-theme";
@import "app/childs/article-checkout/article-checkout-table/article-checkout-table.component.scss-theme";
@import "app/childs/article-stock/article-stock-table/article-stock-table.component.scss-theme";
@import "app/childs/unit-of-measurement/unit-of-measurement-table/unit-of-measurement-table.component.scss-theme";
@import "app/checkout/checkout/checkout.component.scss-theme";
@import "app/childs/location/location-table/location-table.component.scss-theme";
@import "app/childs/order/order-table/order-table.component.scss-theme";
@import "app/childs/opening-hour/opening-hour-table/opening-hour-table.component.scss-theme";
@import "app/childs/order-item/order-item-table/order-item-table.component.scss-theme";
@import "app/childs/role/role-table/role-table.component.scss-theme";
@import "app/store/store-check-in/store-check-in.component.scss-theme";
@import "app/store/store-check-out/store-check-out.component.scss-theme";
@import "app/store/store-estimate/store-estimate.component.scss-theme";
@import "app/sales/sale-header/sale-header.component.scss-theme";
@import "app/sales/sale-order/sale-order.component.scss-theme";
@import "app/childs/order-archive/order-archive-table/order-archive-table.component.scss-theme";
@import "app/childs/order-archiving/order-archiving-table/order-archiving-table.component.scss-theme";
@import "app/message/send-header/send-header.component.scss-theme";
@import "app/childs/delivery-note/delivery-note-table/delivery-note-table.component.scss-theme";


@mixin my-component-theme($theme) {
  @include app-table-header-theme($theme);
  @include app-administration-theme($theme);
  @include app-address-table-theme($theme);
  @include app-user-overview-theme($theme);
  @include app-unit-of-measurement-table-theme($theme);
  @include app-article-table-theme($theme);
  @include app-article-checkin-table-theme($theme);
  @include app-article-checkout-table-theme($theme);
  @include app-article-stock-table-theme($theme);
  @include app-checkout-theme($theme);
  @include app-location-table-theme($theme);
  @include app-order-table-theme($theme);
  @include app-opening-hour-table-theme($theme);
  @include app-order-item-table-theme($theme);
  @include app-role-table-theme($theme);
  @include app-store-check-in-theme($theme);
  @include app-store-check-out-theme($theme);
  @include app-store-estimate-theme($theme);
  @include app-sale-header-theme($theme);
  @include app-sale-order-theme($theme);
  @include app-shopping-cart-detail-theme($theme);
  @include app-shopping-cart-view-theme($theme);
  @include app-order-archive-table-theme($theme);
  @include app-order-archiving-table-theme($theme);
  @include app-send-header-theme($theme);
  @include app-delivery-note-table-theme($theme);
}

@include mat.all-component-themes($my-theme);
@include my-component-theme($my-theme);

//   Themes: Einstieg mit Blog, details in youtube
//  https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
//  https://www.youtube.com/watch?v=PsgZjFTAleI
