<div class="cart-header">
  <mat-icon class="left-icon" (click)="cartStateService.openDetails()">keyboard_arrow_left</mat-icon>
  <mat-icon class="right-icon" (click)="cartStateService.openDetails()">shopping_cart</mat-icon>
</div>
<div *ngFor="let cart of (cartService.getCarts() | async)">
  <div class="location-line center-content">
    <div class="cart-location-font">{{cart.location.description}}</div>
  </div>
  <div *ngFor="let item of cart.cartItems" class="cart--item">
    <div class="item-line center-content space-between">
      <mat-card class="item-card" matBadge="{{item.quantity}}">
        <div *ngIf="item.article">
          <img *ngIf="!item.article.imageId" src="/assets/images/citrus.png" class="article-image">
          <img *ngIf="item.article.imageId"
               src="{{urlPrefixService.getApiRestPrefix()}}/image/{{item.article.imageId}}" class="article-image">
        </div>
      </mat-card>
    </div>
  </div>
</div>
