<app-table-header titleText="Abholstation details" label="diese Abholstation" showBack="true"
                  showDelete="true" showEdit="true"></app-table-header>
<div class="main-container">
  <mat-card class="mat-card-padding">
    <div>
      <p>Id: {{pickupLocation.id}}</p>
      <p>Beschreibung: {{pickupLocation.description}}</p>
      <p>Adresse: {{pickupLocation.address.prename}} {{pickupLocation.address.name}},
        {{pickupLocation.address.street}} {{pickupLocation.address.number}},
        {{pickupLocation.address.zipcode}} {{pickupLocation.address.city}}</p>
    </div>
  </mat-card>
</div>
