<mat-card class="mat-card-padding vertical">
  <mat-card-title>Standort: <b>{{cart.location.description}}</b></mat-card-title>
  <mat-card-subtitle>
    abholen am {{cart.openingHourOfPlannedCheckout.fromDate | date: "EEEE dd.MM.y": "GMT": "de-CH"}}, zwischen
    von: {{cart.openingHourOfPlannedCheckout.fromDate | date: "HH:mm"}}
    bis: {{cart.openingHourOfPlannedCheckout.toDate | date: "HH:mm"}}</mat-card-subtitle>
  <mat-card-content class="common_table">
    <div class="bold">
      <div>Beschreibung</div>
      <div>Menge</div>
      <div>Preis</div>
    </div>
    <div *ngFor="let cartItem of cart.cartItems">
      <div>{{cartItem.article.description}}</div>
      <div>{{cartItem.quantity}} {{cartItem.article.unitOfMeasurement.shortcut}}</div>
      <div>{{cartItem.price * cartItem.quantity | currency: 'CHF '}}</div>
    </div>
    <div class="bold">
      <div>Total</div>
      <div></div>
      <div>{{cart.totalPrice | currency: 'CHF '}}</div>
    </div>
  </mat-card-content>
</mat-card>
