<div class="main-container">
  <mat-card class="card-dimensions">
    <div class="columns">
      <div class="image-column">
        <div class="backlink-row" routerLink="../../..">
          <mat-icon>arrow_back</mat-icon>
          <div>zurück</div>
        </div>
        <div class="title">
          <span class="title-format">{{selectedArticle?.description}}</span>
        </div>
        <div class="price-row">
          <span class="price-format">{{selectedArticle?.price | currency: "CHF "}}</span>
          <span
            class="unit-format">pro {{selectedArticle?.unitOfMeasurement?.shortcut}}</span>
        </div>
        <div *ngIf="selectedArticle">
          <img *ngIf="!selectedArticle?.imageId" src="/assets/images/citrus.png" class="article-image">
          <img *ngIf="selectedArticle?.imageId"
               src="{{baseUrl}}/image/{{selectedArticle?.imageId}}" class="article-image">
        </div>
      </div>
      <div class="description-column">
        <div *ngIf="selectedArticle?.articleStocks?.length > 1">
          <div class="location">Standort auswählen</div>
          <mat-chip-list>
            <div *ngFor="let stock of selectedArticle?.articleStocks">
              <mat-chip *ngIf="selectedArticleStock?.location?.id === stock?.location?.id"
                        class="cart-color-green"
                        (click)="onLocationIdChange(stock?.location?.id)">
                {{stock.location.description}}
              </mat-chip>
              <mat-chip *ngIf="selectedArticleStock?.location?.id !== stock?.location?.id"
                        class="cart-color-gray"
                        (click)="onLocationIdChange(stock?.location?.id)">
                {{stock.location.description}}
              </mat-chip>
            </div>
          </mat-chip-list>
        </div>
        <div *ngIf="selectedArticleStock" class="table">
          <div>
            <div class="location">
              Standort
            </div>
            <div>
              <b>{{selectedArticleStock.location.description}}</b>
            </div>
          </div>
          <div>
            <div class="location">
              Lagerbestand
            </div>
            <div class="orderRow">
              <mat-chip-list>
                <mat-chip class="cart-color-gray chips-reduced-height">
                  {{selectedArticleStock.quantity}}
                </mat-chip>
                <span class="location">
                  {{selectedArticle?.unitOfMeasurement?.shortcut}}
                </span>
              </mat-chip-list>
            </div>
          </div>
          <div>
            <div class="location">
              Reserviert
            </div>
            <div class="orderRow">
              <mat-chip-list>
                <mat-chip class="cart-color-gray chips-reduced-height">
                  {{selectedArticleStock.reservedQuantity + selectedCartItem?.quantity}}
                </mat-chip>
                <span class="location">
                  {{selectedArticle?.unitOfMeasurement?.shortcut}}
                </span>
              </mat-chip-list>
            </div>
          </div>
          <div>
            <div class="location">
              Verfügbar
            </div>
            <div class="orderRow">
              <mat-chip-list>
                <mat-chip class="cart-color-green chips-reduced-height">
                  {{selectedArticleStock.quantity - selectedArticleStock.reservedQuantity - selectedCartItem?.quantity}}
                </mat-chip>
                <span class="location">
                  {{selectedArticle?.unitOfMeasurement?.shortcut}}
                </span>
              </mat-chip-list>
            </div>
          </div>
          <div *ngIf="getNotDoneArticleCheckIns().length > 0">
            <div class="location">
              In Bestellung
            </div>
            <div class="orders">
              <p *ngFor="let checkins of getNotDoneArticleCheckIns()" class="orderRow">
                <mat-chip-list>
                  <mat-chip class="color-black chips-reduced-height">{{checkins.quantity}}</mat-chip>
                  <span class="location" *ngIf="isPast(checkins.plannedDate)">
                      ({{checkins.plannedDate | date: "dd.MM.y"}})
                  </span>
                  <span class="location" *ngIf="!isPast(checkins.plannedDate)">
                      {{checkins.plannedDate | date: "dd.MM.y"}}
                  </span>
                </mat-chip-list>
              </p>
            </div>
          </div>
        </div>
        <div class="shopping-row" *ngIf="selectedCartItem && selectedCartItem.quantity > 0">
          <div class="location">Menge im Warenkorb</div>
          <div class="cart-data-font center-buttons">
            <button mat-button type="submit" class="double-plus-minus-buttons cart-color-green"
                    (click)="decrease(10)">
              <mat-icon class="overlap-right">remove_circle</mat-icon>
              <mat-icon>remove_circle</mat-icon>
            </button>
            <button mat-button type="submit" class="plus-minus-buttons cart-color-green"
                    (click)="decrease(1)">
              <mat-icon>remove_circle</mat-icon>
            </button>
            <div *ngIf="selectedCartItem"
                 class="quantity">{{selectedCartItem.quantity}} {{selectedArticle?.unitOfMeasurement?.shortcut}}</div>
            <div *ngIf="!selectedCartItem"
                 class="quantity">0 {{selectedArticle?.unitOfMeasurement?.shortcut}}</div>
            <button mat-button type="submit" class="plus-minus-buttons cart-color-green"
                    (click)="increase(1)">
              <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-button type="submit" class="double-plus-minus-buttons cart-color-green"
                    (click)="increase(10)">
              <mat-icon class="overlap-right">add_circle</mat-icon>
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>
        </div>
        <div class="shopping-row" *ngIf="!selectedCartItem || selectedCartItem.quantity == 0">
          <div class="location">Zum Warenkorb hinzufügen</div>
          <div class="cart-data-font center-buttons">
            <button mat-button type="submit" class="add-button cart-color-green"
                    (click)="increase(1)">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
