<app-table-filter (onChange)="onFilterChange($event)" [settings]="this.settings"
                  placeholder="Filter Adressen"></app-table-filter>
<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id" hidden>
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Benutzer</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.user?.name}} {{row.user?.prename}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="prename">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.prename}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="street">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Strasse</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.street}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nummer</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.number}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="addition">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Zusatz</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.addition}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="zipcode">
    <mat-header-cell *matHeaderCellDef mat-sort-header>PLZ</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.zipcode}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="city">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Ort</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.city}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="table-row--highligthed" routerLink={{row.id}}
           *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<app-progess-spinner [loading]="loading" delayInMs="150" minShowInMs="500"></app-progess-spinner>
